name: classification-random-gender
on: [push]
jobs:
  run:
    runs-on: [ubuntu-latest]
    container: docker://dvcorg/cml-py3:latest
    steps:
      - uses: actions/checkout@v2
      - name: cml_run
        env:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Your ML workflow goes here
          pip install -r requirements.txt
          python train.py
          
          echo "Model Metrics"
          cat metrics.txt
          
          
          echo "Data Visualisation"
          cml-publish Confusion_matrix.png --md >> report.md
          cml-publish feature_importance.png --md >> report.md
          cml-publish residulas.png --md >> report.md
          
          
